h1 {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 300%;
	text-decoration: underline red;
	margin-top: 0%;
	margin-bottom: 1%;

}

h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 250%;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
  color: white;
  text-align: center;
}

.facteurs {
	margin-left: 5%;
	float: left;
	width: 33.33%;
}

.facteurs form{
	margin-left: 5%;
}

.facteurs input {
	margin-top: 5%;
	width: 70%;
	padding: 5%;
	font-size: 100%;
}

.up::after {
  content: "";
  clear: both;
  display: table;
}

.up {
	border-style: solid;
	border-color: #2E313E;
	background:#2E313E;
	padding: 1%;
}

#mapid {
	margin-top: 3%;
	height: 500px;
	width: 800px;
}

body {
	width: 100%;
	margin-left: 0%;
}

.plusButton {
	float:left;
	background-color:#ff0000;
	border-radius:28px;
	border:1px solid #ff0000;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fc0505;
	margin-right: 1%;
	margin-left: 1%
}

